<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>PaymentWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Payment.web.Servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>payment.web.ser.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>payment.web.ser.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankAcctList</display-name>
    <servlet-name>BankAcctList</servlet-name>
    <servlet-class>payment.web.ser.BankAcctList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankAcctList</servlet-name>
    <url-pattern>/BankAcctList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBankAcctServlet</display-name>
    <servlet-name>AddBankAcctServlet</servlet-name>
    <servlet-class>payment.web.ser.AddBankAcctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBankAcctServlet</servlet-name>
    <url-pattern>/AddBankAcctServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>payment.web.ser.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>payment.web.ser.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoneyToWalletSer</display-name>
    <servlet-name>AddMoneyToWalletSer</servlet-name>
    <servlet-class>payment.web.ser.AddMoneyToWalletSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoneyToWalletSer</servlet-name>
    <url-pattern>/AddMoneyToWalletSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WBTransactionSer</display-name>
    <servlet-name>WBTransactionSer</servlet-name>
    <servlet-class>payment.web.ser.WBTransactionSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WBTransactionSer</servlet-name>
    <url-pattern>/WBTransactionSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BWTransactionSer</display-name>
    <servlet-name>BWTransactionSer</servlet-name>
    <servlet-class>payment.web.ser.BWTransactionSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BWTransactionSer</servlet-name>
    <url-pattern>/BWTransactionSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBTransactionSer</display-name>
    <servlet-name>BBTransactionSer</servlet-name>
    <servlet-class>payment.web.ser.BBTransactionSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBTransactionSer</servlet-name>
    <url-pattern>/BBTransactionSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WWTransactionSer</display-name>
    <servlet-name>WWTransactionSer</servlet-name>
    <servlet-class>payment.web.ser.WWTransactionSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WWTransactionSer</servlet-name>
    <url-pattern>/WWTransactionSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniStatementListSer</display-name>
    <servlet-name>MiniStatementListSer</servlet-name>
    <servlet-class>payment.web.ser.MiniStatementListSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniStatementListSer</servlet-name>
    <url-pattern>/MiniStatementListSer</url-pattern>
  </servlet-mapping>
</web-app>